:root {
    --color-purple-600: hsl(246, 80%, 60%);
    --color-purple-500: hsl(235, 45%, 61%);
    --color-navy-200: hsl(236, 100%, 87%);
    --color-navy-950: hsl(226, 43%, 10%);
    --color-navy-900: hsl(235, 46%, 20%);
    --color-work: hsl(15, 100%, 70%); /* Work */
    --color-play: hsl(195, 74%, 62%); /* Play */
    --color-study: hsl(348, 100%, 68%); /* Study*/
    --color-exercise: hsl(145, 58%, 55%); /* Exercise */
    --color-social: hsl(264, 64%, 52%); /* Social */
    --color-self-care: hsl(43, 84%, 65%); /* Self care */
}

* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100dvh;
    margin: 0;
    padding: 0;
    font-size: 18px; /* Card titles */
    font-family: 'Rubik', sans-serif;
    /* font-weight: 300, 400, 500; */
}

.wrapper {
    width: 100%;
    height: 100%;
    max-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-navy-950);
}

.dashboard {
    width: 100%;
    height: 100%;
    max-width: 1110px;
    max-height: 518px;
    display: flex;
    flex-flow: row wrap;
    margin: 24px;
    gap: 30px;
}

.dashboard-profile {
    flex: 3.091;
    min-width: 255px;
    background-color: var(--color-navy-900);
    border-radius: 15px;
}

.profile-wrapper {
    width: 100%;
    height: 100%;
    max-height: 354px;
    background-color: var(--color-purple-600);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 38px 32px;
}

.wrapper-text,
.wrapper-title {
    color: white;
    margin: 0;
}

.wrapper-text {
    font-size: 15px;
    margin-bottom: 4px;
}

.wrapper-title {
    font-size: 40px;
    font-weight: 300;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: var(--color-purple-500);
    margin: 26px 32px 0 32px;
    max-height: 105px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

li {
    cursor: pointer;
}

li:hover {
    color: white;
}

.wrapper-img {
    width: 84px;
    height: 84px;
    border: 4px solid white;
    border-radius: 50%;
    margin-bottom: 43px;
}

.dashboard-metrics {
    flex: 10;
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
}

.metrics-metric {
    flex: 1;
    background-color: var(--color-navy-900);
    min-width: 254px;
    min-height: 160px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    position: relative;
}

.metric-img {
    position: absolute;
    right: 16px;
    top: -12px;
}

.metric-card {
    width: 100%;
    max-height: 199px;
    background-color: var(--color-navy-900);
    padding: 29px;
    border-radius: 15px 15px 0 0;
    z-index: 1;
}

.metric-card:hover {
    background-color: var(--color-purple-500);
    transition: all ease-in-out 0.15s;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 29px;
}

h3 {
    padding: 0;
    margin: 0;
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.ellipsis {
    width: 16px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.dot {
    width: 4px;
    height: 4px;
    background-color: white;
    border-radius: 50%;
}

.card-hours {
    margin: 0;
    font-size: 56px;
    font-weight: 300;
    color: white;
    margin-bottom: 4px;
}

.card-text {
    font-size: 15px;
    color: var(--color-navy-200);
    font-weight: 300;
}

.attribution {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}

@media (max-width: 768px) {
    main {
    }
    .dashboard {
        gap: 24px;
    }
    .dashboard-profile {
        width: 100%;
        max-width: 100%;
        max-height: 203px;
    }

    .profile-wrapper {
        max-height: 133px;
        padding: 24px;
        flex-direction: row;
        text-align: left;
    }
    .profile-wrapper div {
        display: flex;
        flex-flow: column;
        justify-content: center;
        margin-left: 20px;
    }
    .wrapper-title {
        font-size: 24px;
    }
    ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin: 24px 32px;
        height: auto;
    }
    li {
        margin: 0;
        padding: 0;
    }

    .dashboard-metrics {
        gap: 24px;
    }

    .metrics-metric {
        max-height: 160px;
    }

    .metric-card {
        max-height: 122px;
    }

    .card-header {
        margin-bottom: 8px;
    }

    .card-text-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .card-hours {
        font-size: 32px;
        padding: 0;
        margin: 0;
    }
    .card-text {
        font-size: 15px;
        margin: 0;
        padding: 0;
    }
}
